<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Namaskaram,</p>
<p>The following user has requested access to PCC Genie:</p>
<p>Name: <%= @object.fullname %></p>
<p>Email-id: <%= @object.email %></p>
<p>Mobile: <%= @object.mobile %></p>
<p>Address: <%= @object.address %></p>
<p>To approve access please go to <%= link_to @object.url, @object.url %>, and </p>
<p>  1. Add relevant Access Privileges for the user </p>
<p>  2. Mark the user as enabled </p>
<p>Pranam,</p>
<p>Isha Foundation</p>
</body>
</html>
