<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3> Namaskaram <%= @user.firstname %>, </h3>
<p> Status of <%= link_to @friendly_name[:text], @friendly_name[:link] %> has changed:
<br>
<p>From: <%= @from %></p>
<p>To: <%= @to %></p>
<% unless @additional_text.nil? %>
    <p>Additional Information: <%= @additional_text %></p>
<% end %>

<p>Please log-in to <%= link_to @url, @url %> for details.

Pranam,
Isha Foundation</p>

</p>
</body>
</html>