<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> Namaskaram <%= @user.firstname %>,
<p>Following program is changed:
<%= @friendly_name %>
<br>
<p>Status:-</p> 
<p>From: <%= @from %></p> 
<p>To: <%= @to %></p> 
<br>

<p>Additional Information (if any):<%= @additional_text %></p>

<p>Please log-in to <%= @url %> for details.

Pranam,
Isha Foundation</p>

</p>
</body>
</html>