<%= form_tag("/teachers/#{@teacher.id}/teacher_schedules", :method => 'post', :html => { :class => 'form' }) do |f| %>
    <%= resource_error_messages!(@teacher_schedule) %>
    <%= hidden_field_tag 'trigger', @trigger %>
    <div class='form-group'>
      <%= label_tag :type %>
      <%= select_tag 'teacher_schedule[state]', options_for_select(@reserve_states, [@selected_reserve_state]), {:id => 'reserve_state_select', :class => 'form-control'} %>
    </div>
    <div id="centers" class="form-group">
      <%= label_tag 'Center(s)' %>
      <% centers = @centers.sort_by{|e| e[:name]} %>
      <%= select_tag 'teacher_schedule[center_ids]',  options_for_select(centers.map {|e| [e.name, e.id]}), {:multiple => true, :disabled => @disable_centers_select, :id => 'centers_select', :class => 'form-control'} %>
    </div>
    <div class="form-group">
      <%= label_tag :start_date %>
      <%= text_field_tag 'teacher_schedule[start_date]', nil, :class => 'form-control dateSelect' %>
    </div>
    <div class="form-group">
      <%= label_tag :end_date %>
      <%= text_field_tag 'teacher_schedule[end_date]', nil, :class => 'form-control dateSelect' %>
    </div>
    <div class="form-group">
      <%= label_tag :comments %>
      <%= text_field_tag 'teacher_schedule[comments]', nil, :class => 'form-control' %>
    </div>

    <%= submit_tag 'Create', :class => 'btn btn-lg btn-primary' %>
<% end %>

<script type='text/javascript'>
    $('.dateSelect').datepicker({dateFormat: 'd MM yy (DD)'});
</script>

  <script>
      $(document).ready(function() {
          $('#reserve_state_select').change(function() {
              $.ajax({
                  url: "<%= update_teacher_schedule_centers_path %>",
                  data: {
                      state : $('#reserve_state_select').val()
                  },
                  dataType: "script"
              });
          });
          <% if @disable_centers_select %>
            $("#centers").hide();
          <% else %>
            $("#centers").show();
          <% end %>
      });
  </script>