<div class='row'>
  <div class='col-md-12'>
    <h2>
      Teacher Schedule
      <small><%= @teacher.user.name %></small>
      <span class='pull-right'>
        <% if @teacher.user_id == current_user.id %>
        <%= link_to "New Schedule", new_teacher_teacher_schedule_path(@teacher), :class => 'btn btn-primary btn-sm' %>
        <% end %>
      </span>      
    </h2>
  </div>
  <table class='table table-condensed table-hover table-bordered'>
    <tr>
      <th>Month</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Timing(s)</th>
      <th>State</th>
      <th>Center</th>
      <!-- <th>Engagements</th> -->
      <th width='15%'></th>
    </tr>
    <% @teacher_schedules.each do |ts| %>
    <tr>
      <td><%= ts.start_date.strftime("%B %Y") %></td>
      <td><%= ts.start_date %></td>
      <td><%= ts.end_date %></td>
      <td>
        <% if ts.program_id %>
            <%=  (ts.program.timings.map {|c| c[:name]}).join(", ") %>
        <% else %>
            <%= ts.timing.name %>
        <% end %>
      </td>
      <td><%= teacher_schedule_state_tag(ts) %></td>
      <td><%= ts.center.name %></td>
      <% if false %>
      <td><%= ts.program_teacher_schedules.count %></td>
      <td>
        <%= link_to edit_teacher_teacher_schedule_path(@teacher, ts) do %>
          <i class='icon-edit'></i> Edit
        <% end %> |
        <%= link_to teacher_teacher_schedule_path(@teacher, ts), :method => :show, :confirm => 'Are you sure you want to delete this schedule?' do %>
          <i class='icon-edit'></i> Show
        <% end %>
      </td>
      <% end %>
      <td>
        <%= link_to "Open", program_teacher_schedule_path(:id => ts.id), :class => 'btn btn-primary btn-sm' if ts.program_id  %>
        <%= link_to "Edit", edit_teacher_teacher_schedule_path(:id => ts.id), :class => 'btn btn-primary btn-sm' if !ts.program_id %>
      </td>
      <td>
        <%# <%= link_to "Block", edit_teacher_teacher_schedule_path(ts), :class => 'btn btn-primary btn-sm' %>
        <%# <%= link_to "Show", teacher_schedule_path(ts), :class => 'btn btn-primary btn-sm' %>
        <%# <%= link_to "Schedule", kit_schedules_path(:kit_id => kit.id), :class => 'btn btn-primary btn-sm' %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

