<%= form_for(@program, :html => {:class => 'form'}) do |f| %>
  <%= resource_error_messages!(@program) %>

  <div class='form-group'>
    <%= f.label 'Name' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :program_type %>
    <%= f.select :program_type_id, options_for_select([]), {}, :class => 'form-control' %>
    <br/>
    <%= f.label :start_date %>
    <%= f.text_field :start_date, :class => 'form-control dateSelect' %>
    <br/>
  </div>
  <div class="form-group">
    <%= f.label :center %>
    <%= f.select :center_id, options_for_select(Center.all.map {|c| [c.name, c.id]}), {}, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :slot %>
    <%= f.select :slot, options_for_select(::Ontology::Venue::SLOT_ALL), {}, :class => 'form-control' %>
  </div>

  <%= f.submit 'Create', :class => 'btn btn-lg btn-primary' %>
<% end %>

<script type='text/javascript'>
$('.dateSelect').datepicker({dateFormat: 'yy-mm-dd'});
</script>