<%= form_for(@program, :html => {:class => 'form'}) do |f| %>
  <%= resource_error_messages!(@program) %>

    <div id="centers" class="form-group">
      <%= label_tag 'Center(s)' %>
      <% if @centers.blank? %>
          <%= select_tag 'center_ids', options_for_select(['None Available']), {:multiple => true, :class => 'form-control'} %>
      <% else %>
          <% centers = @centers.sort_by{|e| e.name} %>
          <%= select_tag 'center_ids', options_for_select(centers.map {|c| [c.name, c.id]}), {:multiple => true, :class => 'form-control'} %>
      <% end %>
    </div>
    <div class="form-group">
      <%= label_tag :start_date %>
      <%= text_field_tag 'start_date', nil, :class => 'form-control dateSelect' %>
    </div>
    <div class="form-group">
      <%= label_tag :end_date %>
      <%= text_field_tag 'end_date', nil, :class => 'form-control dateSelect' %>
    </div>

    <%= submit_tag "Search", :disabled => (@centers.blank? ? true: false), :class => 'btn btn-primary btn-lg' %>
<% end %>




<script type='text/javascript'>
$('.dateSelect').datepicker({dateFormat: 'd MM yy (DD)'});
</script>

