<div class='row'>
  <div class='col-md-12'>
    <h2>
      Program <small></small>
      <span class='pull-right'>
        <%= link_to 'Back', program_path(@program), :class => 'btn btn-primary' %>
      </span>
    </h2>
  </div>
</div>
<%= form_for(@program, :html => {:class => 'form'}) do |f| %>
<%= resource_error_messages!(@program) %>
<%= hidden_field_tag 'trigger', @trigger %>

<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'programs/state_update_confirmation_msg' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'programs/state_additional_data' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'programs/state_update_comment' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <%= submit_tag "Update", :class => 'btn btn-primary btn-lg' %>
    <%= link_to "Cancel", :back, :class => 'btn btn-primary btn-lg :hover' %>
  </div>
</div>
<% end %>