<div class='row'>
  <div class='col-md-10'>
    <h2>
      Programs
      <span class='pull-right'>
        <%= render :partial => 'shared/resource_inline_search' %>
      </span>
    </h2>
  </div>
  <div class='col-md-2'>
    <h2>
      <span>
        <%= link_to "Propose Program", new_program_path, :class => 'btn btn-primary' %>
      </span>
    </h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <table class='table table-condensed table-hover table-bordered'>
      <tr>
        <th>#</th>
        <th>Announced Id</th>
        <th>Type</th>
        <th>Start</th>
        <th>Timings</th>
        <th>State</th>
        <th></th>
      </tr>
      <% @programs.each do |program| %>
      <tr>
        <td><%= program.id %></td>
        <td>
          <% unless program.is_announced? %>
            <span class='label label-danger'>pending</span>
            <% if program.ready_for_announcement? %>
            <span class='label label-success'>Ready</span>
            <% end %>
          <% else %>
            <%= program.announce_program_id.to_s %>
          <% end %>
        </td>
        <td><%= (program.program_type.name rescue '')%></td>
        <td><%= program.start_date %></td>
        <td><%= (program.timings.map {|c| c[:name]}).join(", ") %></td>
        <td><%= program_state_tag(program) %></td>
        <td>
          <!-- Options -->
          <%= link_to "Open", program_path(program), :class => 'btn btn-primary btn-sm' %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

