<div class='row'>
  <div class='page-header'>
    <h2>
      Program Details
      <span class='pull-right'>
        <%= link_to 'Assign Teacher', new_program_teacher_schedule_path(:program_id => @program.id), :class => 'btn btn-success' %>
        <%= link_to 'Announce Program', "#", :class => 'btn btn-danger', :disabled => true %>
      </span>
    </h2>
  </div>
</div>

<div class='row'>
  <h3>Basic Details</h3>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>Internal Id</strong></td>
        <td><%= @program.id %></td>
      </tr>
      <tr>
        <td width='20%'><strong>Center</strong></td>
        <td><%= @program.center.name %></td>
      </tr>
      <tr>
        <td><strong>Proposed By</strong></td>
        <td><%= @program.proposer.fullname %></td>
      </tr>
      <tr>
        <td><strong>Start Date</strong></td>
        <td><%= @program.start_date %></td>
      </tr>
      <tr>
        <td><strong>End Date</strong></td>
        <td><%= @program.end_date %></td>
      </tr>
      <tr>
        <td><strong>Slot</strong></td>
        <td><%= @program.slot %></td>
      </tr>
    </table>
  </div>
</div>

<div class='row'>
  <h3>Venue Details</h3>
  <div class='col-md-12'>
    <% if @program.venue_connected? %>
    <div class='alert alert-success'>
      Venue <%= link_to "##{@program.venue_schedule.venue.id}", venue_venue_schedule_path(@program.venue_schedule.venue, @program.venue_schedule) %> is associated with this program.
    </div>
    <% else %>
    <div class='alert alert-danger'>
      Pending assignment.
    </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <h3>Kit Details</h3>
  <div class='col-md-12'>
    <% if @program.kit_connected? %>
    <div class='alert alert-success'>
      Kit <%= link_to "##{@program.kit_schedule.kit.id}", kit_kit_schedule_path(@program.kit_schedule.kit, @program.kit_schedule) %> is associated with this program.
    </div>
    <% else %>
    <div class='alert alert-danger'>
      Pending assignment.
    </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <h3>Teacher Details</h3>
  <div class='col-md-12'>
    <% if @program.program_teacher_schedules.count > 0 %>
      <% @program.program_teacher_schedules.each do |pts| %>
      <div class='alert alert-success'>
        Teacher Schedule <%= link_to "##{pts.id}", program_teacher_schedule_path(pts) %> has been assigned with this program.
      </div>
      <% end %>
    <% else %>
    <div class='alert alert-danger'>
      Pending assignment.
    </div>
    <% end %>
  </div>
</div>