<div class='row'>
  <div class='page-header'>
    <h2>
      Program Details 
      <small>
        <%= program_state_tag(@program) %>
      </small>
      <span class='pull-right'>
        <% if false %>
        <%= link_to 'Assign Teacher', new_program_teacher_schedule_path(:program_id => @program.id), :class => 'btn btn-success' %>
        <% end %>
        <% unless @program.is_announced? %>
          <%= link_to 'Drop Program', drop_program_path, :class => 'btn btn-warning' %>
          <%= link_to 'Announce Program', announce_program_path, :class => 'btn btn-danger', :disabled => (! @program.ready_for_announcement? ) %>
        <% else %>
          <%= render :partial => 'programs/state_bar' %>
        <% end %>
      </span>
    </h2>
  </div>
</div>

<% if @program.ready_for_announcement? && @program.state == ::Program::STATE_PROPOSED %>
<div class='alert alert-success'>
  <strong>This program is ready for announcement.</strong>
</div>
<% else %>
<div class='alert alert-danger'>
  This program is not yet ready for announcement.
  <small><%= link_to "[Why?]", '#', :id => 'prog-why-a' %></small>
</div>
<div class='row' id='program-announcement-overview' style='display :none;'>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='25%'><strong>Venue Status</strong></td>
        <td>
          <% if @program.venue_connected? %>
            Venue State: <%= (@program.venue_schedules.map {|vs| "#{vs.venue[:name]} => #{vs[:state]}"}).join(", ") %>
          <% else %>
            Venue is not associated with this program.
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong>Kit Status</strong></td>
        <td>
          <% if @program.kit_connected? %>
            Kit State: <%= (@program.kit_schedules.map {|ks| "#{ks.kit[:name]} => #{ks[:state]}"}).join(", ") %>
          <% else %>
            Kit is not associated with this program.
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong>Teacher Status</strong></td>
        <td>
          Teacher Required: <%= @program.program_type.minimum_no_of_teacher %> <br/>
          Teacher Associated: <%= @program.teachers_connected %>
        </td>
      </tr>
    </table>
  </div>
</div>
<% end %>

<div class='row'>
  <h3>Basic Details</h3>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>Internal Id</strong></td>
        <td><%= @program.id %></td>
      </tr>
      <tr>
        <td><strong>Announced Program Id</strong></td>
        <td><%= @program.announce_program_id %></td>
      </tr>
      <tr>
        <td width='20%'><strong>Center</strong></td>
        <td><%= @program.center.name %></td>
      </tr>
      <tr>
        <td><strong>Proposed By</strong></td>
        <td><%= @program.proposer.fullname %></td>
      </tr>
      <tr>
        <td><strong>Start Date</strong></td>
        <td><%= @program.start_date.strftime('%d %B %Y') %></td>
      </tr>
      <tr>
        <td><strong>End Date</strong></td>
        <td><%= @program.end_date.strftime('%d %B %Y') %></td>
      </tr>
      <tr>
        <td><strong>Timing</strong></td>
        <td><%= (@program.timings.map {|c| c[:name]}).join(", ") %></td>
      </tr>
    </table>
  </div>
</div>


  <div class='row'>
    <div class='page-header'>
      <h3>
        Venue Details
      <span class='pull-right'>
        <%= link_to 'Assign Venue', new_venue_schedule_path(:program_id => @program.id), :class => 'btn btn-info' %>
      </span>
      </h3>
    </div>
  </div>

  <div class='row'>
  <div class='col-md-12'>
    <% if @program.venue_connected? %>
        <% @program.venue_schedules.each do |vs| %>
            <div class='alert alert-success'>
              Venue  <%= link_to "#{vs.venue.name}", venue_schedule_path(vs) %> is linked to the program.
            </div>
        <% end %>
    <% else %>
    <div class='alert alert-danger'>
      Pending assignment.
    </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='page-header'>
    <h3>
      Kit Details
      <span class='pull-right'>
        <%= link_to 'Assign Kit', new_kit_schedule_path(:program_id => @program.id), :class => 'btn btn-info' %>
      </span>
    </h3>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <% if @program.kit_connected? %>
        <% @program.kit_schedules.each do |ks| %>
            <div class='alert alert-success'>
              Kit  <%= link_to "#{ks.kit.name}", kit_schedule_path(ks) %> is linked to the program.
            </div>
        <% end %>
    <% else %>
    <div class='alert alert-danger'>
      Pending assignment.
    </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='page-header'>
    <h3>
      Teacher Details
      <span class='pull-right'>
        <%= link_to 'Assign Teacher', new_program_teacher_schedule_path(:program_id => @program.id), :class => 'btn btn-info' %>
      </span>
    </h3>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <% if @program.teachers_connected > 0 %>
      <% @program.teachers.uniq.each do |t| %>
      <div class='alert alert-success'>
        Teacher  <%= link_to "#{t.user.firstname}", teacher_teacher_schedules_path(t) %> is linked to the program.
      </div>
      <% end %>
    <% else %>
    <div class='alert alert-danger'>
      Pending assignment.
    </div>
    <% end %>
  </div>
</div>

<script type='text/javascript'>
  $('#prog-why-a').click(function() {
    $('#program-announcement-overview').toggle();
    return false;
  });
</script>