<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'programs/state_bar' %>
  </div>
</div>
<% if @program.can_announce? && @program.state == ::Program::STATE_PROPOSED %>
<div class='alert alert-success'>
  <br>
  <strong>This program is ready for announcement.</strong>
</div>
<% elsif !(@program.is_announced? || ::Program::FINAL_STATES.include?(@program.state)) %>
<div class='alert alert-danger'>
  This program is not yet ready for announcement.
  <small><%= link_to "[Why?]", '#', :id => 'prog-why-a' %></small>
</div>
<div class='row' id='program-announcement-overview' style='display :none;'>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='25%'><strong>Venue Status</strong></td>
        <td>
          <% if @program.no_of_venues_connected > 0 %>
            <%= (@program.venue_schedules.map {|vs| "#{vs.venue[:name]} => #{vs[:state]}" if vs.is_connected?}).join(", ") %>
          <% else %>
            None - Please add a Venue.
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong>Kit Status</strong></td>
        <td>
          <% if @program.no_of_kits_connected > 0 %>
            <%= (@program.kit_schedules.map {|ks| "#{ks.kit[:name]} => #{ks[:state]}" if ks.is_connected?}).join(", ") %>
          <% else %>
              None - Please add a Kit.
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong>Teacher Status</strong></td>
        <td>
          Teacher Required: <%= @program.program_type.minimum_no_of_teacher %> <br/>
          Teacher Associated: <%= @program.no_of_teachers_connected %>
        </td>
      </tr>
    </table>
  </div>
</div>
<% end %>

<div class='row'>
  <h3>Basic Details</h3>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>Internal Id</strong></td>
        <td><%= @program.id %></td>
      </tr>
      <tr>
        <td><strong>Announced Program Id</strong></td>
        <td><%= @program.announce_program_id %></td>
      </tr>
      <tr>
        <td><strong> Name </strong></td>
        <td><%= @program.name %></td>
      </tr>
      <tr>
        <td width='20%'><strong>Center</strong></td>
        <td><%= @program.center.name %></td>
      </tr>
      <tr>
        <td><strong>Proposed By</strong></td>
        <td><%= @program.proposer.fullname %></td>
      </tr>
      <tr>
        <td><strong>Start Date</strong></td>
        <td><%= @program.start_date.strftime('%d %B %Y') %></td>
      </tr>
      <tr>
        <td><strong>End Date</strong></td>
        <td><%= @program.end_date.strftime('%d %B %Y') %></td>
      </tr>
      <tr>
        <td><strong>Timing</strong></td>
        <td><%= (@program.timings.map {|c| c[:name]}).join(", ") %></td>
      </tr>
    </table>
  </div>
</div>


  <div class='row'>
    <div class='page-header'>
      <h3>
        Venue Details
      </h3>
    </div>
  </div>

  <div class='row'>
  <div class='col-md-12'>
    <% if @program.venue_schedules %>
        <% @program.venue_schedules.each do |vs| %>
            <% if vs.is_connected? %>
            <div class='alert alert-success'>
                Venue  <%= link_to "#{vs.venue.name}", venue_schedule_path(vs) %> is currently linked to the program.
            </div>
            <% else %>
            <div class='alert alert-danger'>
              Venue  <%= link_to "#{vs.venue.name}", venue_schedule_path(vs) %> was earlier linked to the program.
            </div>
            <% end %>
        <% end %>
    <% else %>
    <div class='alert alert-danger'>
      No Venue is associated with this program.
    </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='page-header'>
    <h3>
      Kit Details
    </h3>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <% if @program.no_of_kits_connected > 0 %>
        <% @program.kit_schedules.each do |ks| %>
            <% if ks.is_connected? %>
                <div class='alert alert-success'>
                  Kit  <%= link_to "#{ks.kit.name}", kit_schedule_path(ks) %> is currently linked to the program.
                </div>
            <% else %>
                <div class='alert alert-danger'>
                  Kit  <%= link_to "#{ks.kit.name}", kit_schedule_path(ks) %> was earlier linked to the program.
                </div>
            <% end %>
        <% end %>
    <% else %>
    <div class='alert alert-danger'>
      No Venue is associated with this program.
    </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='page-header'>
    <h3>
      Teacher Details
    </h3>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <% if @program.no_of_teachers_connected > 0 %>
      <% @program.teachers_connected.each do |ts| %>
      <div class='alert alert-success'>
        Teacher  <%= link_to "#{ts.teacher.user.firstname}", teacher_teacher_schedules_path(ts.teacher) %> is currently linked to the program.
      </div>
      <% end %>
    <% else %>
    <div class='alert alert-danger'>
      No Teacher is associated with this program.
    </div>
    <% end %>
  </div>
</div>

<script type='text/javascript'>
  $('#prog-why-a').click(function() {
    $('#program-announcement-overview').toggle();
    return false;
  });
</script>