<div class='row'>
  <div class='page-header'>
    <h2>
      Program Details
      <span class='pull-right'>
        <%= link_to 'Assign Teacher', new_program_teacher_schedule_path(:program_id => @program.id), :class => 'btn btn-success' %>
        <% unless @program.is_announced? %> 
          <%= link_to 'Announce Program', announce_program_path, :class => 'btn btn-danger', :disabled => (! @program.ready_for_announcement? ) %>
        <% else %>
          <%= render :partial => 'programs/state_bar' %>
        <% end %>
      </span>
    </h2>
  </div>
</div>

<% if @program.ready_for_announcement? %>
<div class='alert alert-success'>
  <strong>This program is ready for announcement.</strong>
</div>
<% else %>
<div class='alert alert-danger'>
  This program is not yet ready for announcement.
  <small><%= link_to "[Why?]", '#', :id => 'prog-why-a' %></small>
</div>
<div class='row' id='program-announcement-overview' style='display :none;'>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='25%'><strong>Venue Status</strong></td>
        <td>
          <% if @program.venue_connected? %>
            Venue State: <%= @program.venue_schedule.state %>
          <% else %>
            Venue is not yet associated with this program.
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong>Kit Status</strong></td>
        <td>
          <% if @program.kit_connected? %>
            Kit State: <%= @program.kit_schedule.state %>
          <% else %>
            Kit is not associated with this program yet.
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong>Teacher Status</strong></td>
        <td>
          Teacher Required: <%= @program.program_type.minimum_no_of_teacher %> <br/>
          Teacher Associated: <%= @program.program_teacher_schedules.count %>
        </td>
      </tr>
    </table>
  </div>
</div>
<% end %>

<div class='row'>
  <h3>Basic Details</h3>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>Internal Id</strong></td>
        <td><%= @program.id %></td>
      </tr>
      <tr>
        <td width='20%'><strong>Center</strong></td>
        <td><%= @program.center.name %></td>
      </tr>
      <tr>
        <td><strong>Proposed By</strong></td>
        <td><%= @program.proposer.fullname %></td>
      </tr>
      <tr>
        <td><strong>Start Date</strong></td>
        <td><%= @program.start_date %></td>
      </tr>
      <tr>
        <td><strong>End Date</strong></td>
        <td><%= @program.end_date %></td>
      </tr>
      <tr>
        <td><strong>Slot</strong></td>
        <td><%= @program.slot %></td>
      </tr>
    </table>
  </div>
</div>

<div class='row'>
  <h3>Venue Details</h3>
  <div class='col-md-12'>
    <% if @program.venue_connected? %>
    <div class='alert alert-success'>
      Venue <%= link_to "##{@program.venue_schedule.venue.id}", venue_venue_schedule_path(@program.venue_schedule.venue, @program.venue_schedule) %> is associated with this program.
    </div>
    <% else %>
    <div class='alert alert-danger'>
      Pending assignment.
    </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <h3>Kit Details</h3>
  <div class='col-md-12'>
    <% if @program.kit_connected? %>
    <div class='alert alert-success'>
      Kit <%= link_to "##{@program.kit_schedule.kit.id}", kit_kit_schedule_path(@program.kit_schedule.kit, @program.kit_schedule) %> is associated with this program.
    </div>
    <% else %>
    <div class='alert alert-danger'>
      Pending assignment.
    </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <h3>Teacher Details</h3>
  <div class='col-md-12'>
    <% if @program.program_teacher_schedules.count > 0 %>
      <% @program.program_teacher_schedules.each do |pts| %>
      <div class='alert alert-success'>
        Teacher Schedule <%= link_to "##{pts.id}", program_teacher_schedule_path(pts) %> has been assigned with this program.
      </div>
      <% end %>
    <% else %>
    <div class='alert alert-danger'>
      Pending assignment.
    </div>
    <% end %>
  </div>
</div>

<script type='text/javascript'>
  $('#prog-why-a').click(function() {
    $('#program-announcement-overview').toggle();
    return false;
  });
</script>