<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'programs/state_bar' %>
  </div>
</div>
<% if @program.can_create? %>
    <% if @program.can_announce? && @program.state == ::Program::STATE_PROPOSED %>
        <div class='alert alert-success'>
          <br>
          <strong>This program is ready for announcement.</strong>
        </div>
    <% elsif !@program.is_announced? && @program.is_active? %>
        <div class='alert alert-danger'>
          This program is not yet ready for announcement.
          <small><%= link_to "[Why?]", '#', :id => 'prog-why-a' %></small>
        </div>
        <div class='row' id='program-announcement-overview' style='display :none;'>
          <div class='col-md-12'>
            <table class='table table-bordered'>
              <tr>
                <td width='25%'><strong>Venue</strong></td>
                <td>
                  <%= (@program.venue_status.map {|vs| vs}).join("<br/>").html_safe %>
                </td>
              </tr>
              <tr>
                <td><strong>Kit</strong></td>
                <td>
                  <%= (@program.kit_status.map {|ks| ks}).join("<br/>").html_safe %>
                </td>
              </tr>
              <tr>
                <td><strong>Teacher</strong></td>
                <td>
                     <%=(@program.teacher_status.map {|ts| ts}).join("<br/>").html_safe %>
                </td>
              </tr>
            </table>
          </div>
        </div>
    <% end %>
<% end %>
<% if @program.can_update? %>
<div class='row'>
  <div class='col-md-12'>
    <h3>Last Update <small><%= @program.last_update %></small></h3>
    <div class = 'row'>
      <div class='col-md-12'>
        <table class='table table-bordered'>
          <tr>
            <td width='20%'><strong> Updated By </strong></td>
            <td>
                <%= @program.last_updated_by_user.fullname rescue ' ' %>
            </td>
          </tr>
          <tr>
            <td><strong> Updated At </strong></td>
            <td><%= @program.last_updated_at.strftime('%d %B %Y (%I:%M%P)') rescue ' ' %></td>
          </tr>
          <tr>
            <td><strong> Comments </strong></td>
            <td><%= @program.comments %></td>
          </tr>
          <% unless @program.feedback.nil? %>
              <tr>
                <td><strong> Feedback </strong></td>
                <td><%= @program.feedback %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class='row'>
  <h3>Basic Details</h3>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>Internal Id</strong></td>
        <td><%= @program.id %></td>
      </tr>
      <tr>
        <td><strong>PID</strong></td>
        <td><%= @program.pid %></td>
      </tr>
      <tr>
        <td><strong>Program Type</strong></td>
        <td><%= @program.program_donation.name %></td>
      </tr>
      <tr>
        <td><strong> Name </strong></td>
        <td><%= @program.name %></td>
      </tr>
      <tr>
        <td width='20%'><strong>Center</strong></td>
        <td><%= @program.locality_name %></td>
      </tr>
      <tr>
        <td><strong>Proposed By</strong></td>
        <td><%= @program.proposer.fullname %></td>
      </tr>
      <tr>
        <td><strong>Start Date</strong></td>
        <td><%= @program.start_date.strftime('%d %B %Y (%A)') %></td>
      </tr>
      <tr>
        <td><strong>End Date</strong></td>
        <td><%= @program.end_date.strftime('%d %B %Y (%A)') %></td>
      </tr>
      <tr>
        <td><strong>Timing (s)</strong></td>
        <td><%= @program.display_timings %></td>
      </tr>
      <% if @program.is_announced? %>
          <tr>
            <td><strong>Capacity</strong></td>
            <td><%= @program.capacity rescue ''%></td>
          </tr>
          <tr>
            <td><strong>Contact Phone (s)</strong></td>
            <td><%= @program.contact_phone rescue ''%></td>
          </tr>
          <tr>
            <td><strong>Contact Email-id (s)</strong></td>
            <td><%= @program.contact_email rescue ''%></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>


  <div class='row'>
    <div class='page-header'>
      <h3>
        Venue Details
      </h3>
    </div>
  </div>

  <div class='row'>
  <div class='col-md-12'>
    <% if !@program.venue_schedules.nil? && @program.venue_schedules.count > 0 %>
        <% @program.venue_schedules.each do |vs| %>
            <%  vs.current_user = current_user %>
            <% if vs.is_connected? %>
                <div class='alert alert-success'>
                  <% if vs.can_update? %>
                    Venue  <%= link_to "#{vs.venue.name}", venue_schedule_path(vs) %> is currently linked to the program.
                  <% elsif vs.can_view? %>
                      Venue  <%= link_to "#{vs.venue.name}", venue_path(vs.venue) %> is currently linked to the program.
                  <% else %>
                      Venue <%= "#{vs.venue.name}" %> is currently linked to the program.
                  <% end %>
                </div>
            <% else %>
                <div class='alert alert-danger'>
                  <% if vs.can_update? %>
                      Venue  <%= link_to "#{vs.venue.name}", venue_schedule_path(vs) %> was earlier linked to the program.
                  <% elsif vs.can_view? %>
                      Venue  <%= link_to "#{vs.venue.name}", venue_path(vs.venue) %> was earlier linked to the program.
                  <% else %>
                      Venue <%= "#{vs.venue.name}" %> was earlier linked to the program.
                  <% end %>
                </div>
            <% end %>
        <% end %>
    <% else %>
    <div class='alert alert-danger'>
      No Venue is associated with this program.
    </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='page-header'>
    <h3>
      Kit Details
    </h3>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <% if !@program.kit_schedules.nil? && @program.kit_schedules.count > 0 %>
        <% @program.kit_schedules.each do |ks| %>
            <%  ks.current_user = current_user %>
            <% if ks.is_connected? %>
                <div class='alert alert-success'>
                  <% if ks.can_update? %>
                      Kit  <%= link_to "#{ks.kit.name}", kit_schedule_path(ks) %> is currently linked to the program.
                  <% elsif ks.can_view? %>
                      Kit  <%= link_to "#{ks.kit.name}", kit_path(ks.kit) %> is currently linked to the program.
                  <% else %>
                      Kit <%= "#{ks.kit.name}" %> is currently linked to the program.
                  <% end %>
                </div>
            <% else %>
                <div class='alert alert-danger'>
                  <% if ks.can_update? %>
                    Kit  <%= link_to "#{ks.kit.name}", kit_schedule_path(ks) %> was earlier linked to the program.
                  <% elsif ks.can_view? %>
                     Kit  <%= link_to "#{ks.kit.name}", kit_path(ks.kit) %> was earlier linked to the program.
                  <% else %>
                      Kit <%= "#{ks.kit.name}" %> was earlier linked to the program.
                  <% end %>
                </div>
            <% end %>
        <% end %>
    <% else %>
    <div class='alert alert-danger'>
      No Kit is associated with this program.
    </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='page-header'>
    <h3>
      Teacher Details
    </h3>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>

    <% @program.roles.each {|role| %>
        <h5> <b> <%= role %> (s) </b>
        <small>
          <% if @program.minimum_no_of_teacher(role) == 0 %>
          <b> (optional) </b>
          <% end %>
        </small>
        </h5>
        <% total_teachers = 0 %>
        <% @program.teachers_connected(role).each do |ts| %>
            <% total_teachers += 1 %>
            <%  ts.current_user = current_user %>
            <div class='alert alert-success'>
              <% if ts.can_view_schedule? %>
                  Teacher  <%= link_to "#{ts.teacher.user.fullname}", program_teacher_schedule_path(:id => ts.id) %> is currently linked to the program for <b><%= ts.display_timings(role) %></b>.
              <% elsif ts.teacher.can_view? %>
                  Teacher  <%= link_to "#{ts.teacher.user.fullname}", teacher_path(ts.teacher) %> is currently linked to the program for <b><%= ts.display_timings(role) %></b>.
              <% else %>
                  Teacher <%= "#{ts.teacher.user.fullname}" %> is currently linked to the program for <b><%= ts.display_timings(role) %></b>.
              <% end %>
            </div>
        <% end %>
        <% @program.teachers_conducted_class(role).each  do |ts| %>
            <% total_teachers += 1 %>
            <%  ts.current_user = current_user %>
            <div class='alert alert-success'>
              <% if ts.can_view_schedule? %>
                  Teacher  <%= link_to "#{ts.teacher.user.fullname}", program_teacher_schedule_path(:id => ts.id) %> conducted the program for <b><%= ts.display_timings(role) %></b>.
              <% elsif ts.teacher.can_view? %>
                  Teacher  <%= link_to "#{ts.teacher.user.fullname}", teacher_path(ts.teacher) %> conducted the program for <b><%= ts.display_timings(role) %></b>.
              <% else %>
                  Teacher <%= "#{ts.teacher.user.fullname}" %> was earlier linked to the program for <b><%= ts.display_timings(role) %></b>.
              <% end %>
            </div>
        <% end %>
        <% if total_teachers == 0 %>
            <div class='alert alert-danger'>
              None Attached.
            </div>
        <% end %>
  <% } %>
  </div>
</div>

<script type='text/javascript'>
  $('#prog-why-a').click(function() {
    $('#program-announcement-overview').toggle();
    return false;
  });
</script>