<div class='row'>
  <div class='col-md-12'>
    <h2>
      Kit <small><%= @kit.name %> </small>
    </h2>
  </div>
</div>
<%= form_for([@kit], :html => {:class => 'form'}) do |f| %>
<%= resource_error_messages!(@kit) %>

<%= hidden_field_tag 'trigger', @trigger %>

<div class='row'>
  <div class='col-md-12'>
    <%= submit_tag "Update", :class => 'btn btn-primary btn-lg' %>
  </div>
</div>
<% end %>