<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'state_bar' %>
  </div>
  <div class = 'row'>
    <div class='col-md-12'>
      <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>Name</strong></td>
        <td><%= @kit.kit_name_string %></td>
      </tr>
      <tr>
      <tr>  
        <td><strong>Center</strong></td>
        <td><%= @kit.center.name rescue '' %></td>
      </tr>
      <tr>
        <td><strong>Max Participants</strong></td>
        <td>
          <address>
            <%= @kit.max_participant_number %>
          </address>
        </td>
      </tr>
      <tr>
        <td><strong>General Comments</strong></td>
        <td>
          <address>
            <%= @kit.general_comments %>
          </address>
        </td>
      </tr>
      <tr>
        <td><strong>Condition Comments</strong></td>
        <td>
          <address>
            <%= @kit.condition_comments %>
          </address>
        </td>
      </tr>
      </table>
    </div>
</div>

