<script type="text/javascript">
    $(document).ready(function() {
        $('#activity_log_table').dataTable({
            "sPaginationType": "bootstrap",
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": [
                    "print",
                    {
                        "sExtends":    "collection",
                        "sButtonText": "Save",
                        "aButtons":    [ "csv", "xls", "pdf" ]
                    }
                ]
            },
            "columnDefs": [
                { "type": "date-de", targets: 0 }
            ]
        } );
    });
</script>


<div class='row'>
  <div class='col-md-12'>
    <h2>Activity Log
      <hr>
    </h2>
  </div>
</div>


<% super_admin = current_user.is? :super_admin %>
<% if @activity_logs.empty? %>
    <div class="alert alert-danger"> No Activity Log Found.</div>
<% else %>
    <table id="activity_log_table" class='display dataTable table table-condensed table-hover table-bordered'>
      <thead>
      <tr>
        <% if super_admin %>
            <th>#</th>
        <% end %>
        <th>Date</th>
        <% if super_admin %>
            <th>User</th>
        <% end %>
        <th>Activity</th>
        <th>Current Status</th>
      </tr>
      </thead>
      <tbody>
      <% @activity_logs.each do |al| %>
          <tr>
            <% if super_admin %>
                <td><%= al.id %></td>
            <% end %>
            <td><%= al.date.strftime("%d.%m.%Y %H:%M hrs") %></td>
            <% if super_admin %>
                <td><%= link_to al.user.fullname, al.user.url rescue '' %></td>
            <% end %>
            <% object = al.object %>
            <% if object.nil? %>
                <td>Updated <%= al.text1 + al.text2 %></td>
                <td></td>
            <% else %>
                <td>Updated <%= link_to al.text1, object.url %> <%= al.text2 %></td>
                <td><%= send( al.model_state_tag, object) rescue '' %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>