<div class='row'>
  <div class='col-md-12'>
    <div class='page-header'>
      <h2>Register with PCC Portal</h2>
    </div>
    <div class='page-body'>
      <div class='row'>
        <div class='col-md-6 col-md-offset-1'>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form'}) do |f| %>
              <%= devise_error_messages! %>
              <div class='form-group'>
                <%= f.label :email %>
                <%= f.email_field :email, :class => 'form-control', :autofocus => true %>
              </div>
              <div class='form-group'>
                <%= f.label :firstname %>
                <%= f.text_field :firstname, :class => 'form-control' %>
              </div>
              <div class='form-group'>
                <%= f.label :lastname %>
                <%= f.text_field :lastname, :class => 'form-control' %>
              </div>
              <div class='form-group'>
                <%= f.label :phone %>
                <%= f.text_field :phone, :class => 'form-control' %>
              </div>
              <div class='form-group'>
                <%= f.label :mobile %>
                <%= f.text_field :mobile, :class => 'form-control' %>
              </div>
              <div class='form-group'>
                <%= f.label :address %>
                <%= f.text_area :address, :class => 'form-control', :rows => 5 %>
              </div>
              <div class='form-group'>
                <%= f.label :approver_email %>
                <%= f.text_field :approver_email, :class => 'form-control' %>
              </div>
              <div class='form-group'>
                <%= f.label :message_to_approver %>
                <%= f.text_area :message_to_approver, :class => 'form-control', :rows => 7 %>
              </div>
              <%= f.submit "Register", :class => 'btn btn-lg btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

