<div class='row'>
  <div class='col-md-12'>
    <table id = "kit_table" class='display dataTable table table-condensed table-hover table-bordered'>
      <thead>
        <tr>
          <th>Name</th>
          <th>State</th>
          <th>Center</th>
          <th>Max Participants </th>
          <th> Condition </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @kits.each do |kit| %>
          <tr>
            <td><%= link_to kit.name, kit_path(kit)%> </td>
            <td><%= kit_state_tag(kit) %> </td>
            <td><%= (kit.centers.map {|c| c[:name]}).join(", ") %> </td>
            <td><%= kit.capacity %> </td>
            <td><%= kit.condition %> </td>
            <td><%= link_to "Block", new_kit_kit_schedule_path(kit), :class => 'btn btn-primary btn-sm' %> 
                <%= link_to "Schedule", kit_kit_schedules_path(kit), :class => 'btn btn-primary btn-sm' %> 
            </td> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>