 <div class='row'>
  <div class='col-md-12'>
     <table id="program_table" class='display dataTable table table-condensed table-hover table-bordered'>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Announced Id</th>
            <th>Type</th>
            <th>Start</th>
            <th>Slot</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <% @programs.each do |program| %>
          <tr>
            <td><%= program.id %></td>
            <td><%= link_to program.name, program_path(program)%></td>
            <td>
              <% unless program.is_announced? %>
                <span class='label label-danger'>pending</span>
                <% if program.ready_for_announcement? %>
                <span class='label label-success'>Ready</span>
                <% end %>
              <% else %>
                <%= program.announce_program_id.to_s %>
              <% end %>
            </td>
            <td><%= (program.program_type.name rescue '')%></td>
            <td><%= program.start_date.strftime('%d %B %Y') %></td>
            <td><%= (program.timings.map {|c| c[:name]}).join(", ") %></td>
            <td><%= program_state_tag(program) %></td>
          </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>