<script type="text/javascript">
    $(document).ready(function() {
        $('#notification_log_table').dataTable({
            "sPaginationType": "bootstrap",
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": [
                    "print",
                    {
                        "sExtends":    "collection",
                        "sButtonText": "Save",
                        "aButtons":    [ "csv", "xls", "pdf" ]
                    }
                ]
            }
        } );
    });
</script>

<% super_admin = current_user.is? :super_admin %>

<div class='row'>
  <div class='col-md-12'>
    <h2>Notifications
      <% unless @notification_logs.empty? || super_admin %>
          <span class='pull-right'>
            <%= link_to 'Dismiss all', delete_all_notification_logs_path, method: :delete,  :confirm => "Are you sure you want to delete all the notifications?", :class => 'btn btn-primary btn-sm'%>
          </span>
      <% end %>
      <hr>
    </h2>
  </div>
</div>



<% if @notification_logs.empty? %>
    <div class="alert alert-danger"> No Notifications Found.</div>
<% else %>
    <table id="notification_log_table" class='display dataTable table table-condensed table-hover table-bordered'>
      <thead>
      <tr>
        <th>Date</th>
        <% if super_admin %>
            <th>User</th>
        <% end %>
        <th>Notification</th>
        <th>Current Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @notification_logs.each do |nl| %>
          <tr>
            <td><%= nl.date.strftime("%d %B %Y") %></td>
            <% if super_admin %>
                <td><%= link_to nl.user.fullname, nl.user.url rescue '' %></td>
            <% end %>
            <% object = nl.object %>
            <% if object.nil? || ( nl.model_type == "User" && !super_admin) %>
                <td>
                  <% if nl.displayed == false %>
                      <span class="badge pull-right alert-warning">New!</span>
                  <% end %>
                  <%= nl.text1 + nl.text2 %>
                </td>
                <td></td>
            <% else %>
                <td>
                  <% if nl.displayed == false %>
                      <span class="badge pull-right alert-warning">New!</span>
                  <% end %>
                  <%= link_to nl.text1, object.url %> <%= nl.text2 %>
                </td>
                <td><%= send( nl.model_state_tag, object) rescue '' %></td>
            <% end %>
            <% if super_admin %>
                <td>
                <%  if nl.displayed == false %>
                    <span class="label label-warning">New</span>
                <%  elsif nl.disabled == true %>
                    <span class="label label-default">Dismissed</span>
                <% else %>
                    <span class="label label-success">Viewed</span>
                <% end %>
                </td>
            <% else %>
               <td><%= link_to 'Dismiss', nl, method: :delete, data: { confirm: 'Are you sure you want to delete the notification?' }, :class => 'btn btn-primary btn-sm' %></td>
            <% end %>
          </tr>
          <% unless super_admin %>
              <% nl.displayed! %>
          <% end %>
      <% end %>
      </tbody>
    </table>
<% end %>