<div class='row'>
  <div class='col-md-12'>
    <h2>
      Available Venues
      <span class='pull-right'>
        <%= render :partial => 'shared/resource_inline_search' %>
      </span>
    </h2>
  </div>
  <table class='table table-condensed table-hover table-bordered'>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Center</th>
      <th>PIN Code</th>
      <th>Capacity</th>
      <th>Contact</th>
      <th>Current State</th>
      <th width='20%'></th>
    </tr>
    <% @venues.each do |venue| %>
    <tr>
      <td><%= venue.id %></td>
      <td><%= link_to venue.name,venue_path(venue) %></td>
      <td><%= (venue.centers.map {|c| c[:name]}).join(", ") %></td>
      <td><%= venue.pin_code %></td>
      <td><%= venue.capacity %></td>
      <td><%= venue.contact_name %></td>
      <td><span class='label label-warning'><%= venue.state %></span></td>
      <td>
        <%= link_to "Show", venue_path(venue), :class => 'btn btn-primary btn-sm' %> 
        <% if venue.published? %>
          <%= link_to "Block", new_venue_schedule_path(:venue_id => venue.id), :class => 'btn btn-primary btn-sm' %>
          <%= link_to "Schedule", venue_schedules_path(:venue_id => venue.id), :class => 'btn btn-primary btn-sm' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

