<script type="text/javascript">
    $(document).ready(function() {
        $('#venue_table').dataTable({
            "sPaginationType": "bootstrap"
        } );
    });
</script>

<div class='row'>
  <div class='col-md-12'>
    <h2>Available Venues<hr></h2>
  </div>
</div>
<% if @venues.empty? %>
    <div class="alert alert-danger"> No Venues Found.</div>
<% else %>
<table id="venue_table" class='display dataTable table table-condensed table-hover table-bordered'>
  <thead>
    <tr>
      <th>ID #</th>
      <th>Name</th>
      <th>Center</th>
      <th>PIN Code</th>
      <th>Capacity</th>
      <th>Contact</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @venues.each do |venue| %>
    <% venue.current_user = current_user %>
    <tr>
      <td><%= venue.id %></td>
      <td><%= venue.name %></td>
      <td><%= (venue.centers.map {|c| c[:name]}).join(", ") %></td>
      <td><%= venue.pin_code %></td>
      <td><%= venue.capacity %></td>
      <td><%= venue.contact_name %></td>
      <td><%= venue_state_tag(venue) %></span></td>
      <td>
        <%= link_to "Show", venue_path(venue), :class => 'btn btn-primary btn-sm' if venue.can_view? %>
        <% if venue.possible? && venue.can_view_schedule? %>
          <%#   = link_to "Block", new_venue_schedule_path(:venue_id => venue.id), :class => 'btn btn-primary btn-sm' %>
          <%= link_to "Schedule", venue_schedules_path(:venue_id => venue.id), :class => 'btn btn-primary btn-sm' if venue.can_view_schedule?  %>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
