<% if !flash[:notice].blank? %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>
<br />
<%= link_to "New Travel Ticket", new_travel_ticket_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Download Link</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @travel_tickets.each do |travel_ticket| %>
      <tr>
        <td><%= travel_ticket.name %></td>
        <td><%= link_to "Download Ticket", travel_ticket.attachment_url %></td>
        <td><%= button_to "Delete",  travel_ticket, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{travel_ticket.name}?" %></td>
      </tr>
  <% end %>
  </tbody>
</table>