<div class='row'>
  <div class='col-md-12'>
    <h2>
      PCC Travel Request <small><%= @pcc_travel_request.requester.name %></small>
    </h2>
  </div>
</div>
<%= form_for(@pcc_travel_request, :html => {:class => 'form'}) do |f| %>
    <%= resource_error_messages!(@pcc_travel_request) %>
    <%= hidden_field_tag 'trigger', @trigger %>

    <% unless @pcc_travel_request.errors.any? %>
        <div class='row'>
          <div class='col-md-12'>
            <%= render :partial => 'pcc_travel_requests/state_update_confirmation_msg' %>

        <%= render :partial => 'pcc_travel_requests/state_update_comment' %>

        <%= submit_tag "Update", :class => 'btn btn-primary btn-lg' %>
        <%= link_to "Cancel", :back, :class => 'btn btn-primary btn-lg :hover' %>
      </div>
    </div>
<% end %>
<% end %>