<script type="text/javascript">
    $(document).ready(function() {
        $('#pcc_travel_request_table').dataTable({
            "aaSorting": [[0, 'desc']],
            "sPageLength": 5,
            "sPaginationType": "bootstrap",
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": [
                    "print",
                    {
                        "sExtends":    "collection",
                        "sButtonText": "Save",
                        "aButtons":    [ "csv", "xls", "pdf" ]
                    }
                ]
            }
        } );
    });
</script>

<div class='row'>
  <div class='col-md-12'>
    <h2>Travel Requests
      <span class='pull-right'>
            <%= link_to "New Request", new_pcc_travel_request_path, :class => 'btn btn-primary btn-sm' %>
          </span>
      <hr>
    </h2>
  </div>
</div>
<% if @pcc_travel_requests.empty? %>
    <div class="alert alert-danger"> No Travel Requests Found.</div>
<% else %>
    <table id="pcc_travel_request_table" class='display dataTable table table-condensed table-hover table-bordered'>
      <thead>
      <tr>
        <th>Created On</th>
        <th>Requester Name</th>
        <th>Purpose</th>
        <th>Date Of Journey</th>
        <th>From</th>
        <th>To</th>
        <th>State</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @pcc_travel_requests.each do |pcc_travel_request| %>
          <% #if pcc_travel_request.can_view?%>
              <% pcc_travel_request.current_user = current_user %>
          <tr>
            <td width='20%'>
             <% if pcc_travel_request.doj!=nil%>
            <% if pcc_travel_request.doj.to_time.to_i < Date.today.to_time.to_i%>
                <span class="label label-warning">Expired</span>
                      <%else%>
                      <span class="label label-success">Valid</span>
                  <%end %>
                  <%end%>
            <%= pcc_travel_request.timestamp.strftime ('%d %B %Y (%I:%M%P)') rescue '' %></td>
            <td><%= pcc_travel_request.requester.name rescue '' %></td>
            <td><%= pcc_travel_request.purpose %></td>
            <td><%= pcc_travel_request.doj %></td>
            <td><%= pcc_travel_request.from%></td>
            <td><%=pcc_travel_request.to %></td>
            <td><%= pcc_travel_request_state_tag(pcc_travel_request) %></td>
            <td>
              <%if TravelTicket.find_by_name(pcc_travel_request.id)!=nil %>

                <%= link_to "Download Ticket",TravelTicket.find_by_name(pcc_travel_request.id).attachment_url,  :class => 'btn btn-primary btn-sm'  %>
              <%end%>
            <%if(current_user.is? :pcc_travel_vendor, :in_group => [:pcc_requests]) &&((pcc_travel_request.state=='booked')or (pcc_travel_request.state=='ticket uploaded'))%>
              <%= link_to "Upload Ticket",new_travel_ticket_path(:pcc_travel_request=>pcc_travel_request), :class => 'btn btn-primary btn-sm'  %>
                <%end%>
              <%= link_to "Show", pcc_travel_request_path(pcc_travel_request), :class => 'btn btn-primary btn-sm'  %>
              <% #link_to "Destroy", pcc_travel_request, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-primary btn-sm'  %>
            <% if (pcc_travel_request.requester==current_user) and (pcc_travel_request.state!='booked') and (pcc_travel_request.state!='request cancellation') and (pcc_travel_request.state!='cancelled')and (pcc_travel_request.state!='withdrawn') and (pcc_travel_request.state!='approved') and (pcc_travel_request.state!='rejected')%>
                  <%= link_to "Edit", edit_travel_request_pcc_travel_request_path(pcc_travel_request), :class => 'btn btn-primary btn-sm'  %>
              <%end%>
            </td>
          </tr>
      <%#end%>

      <% end %>
      </tbody>
    </table>
<%end %>
