<script type="text/javascript">
    $(document).ready(function() {
        $('#teacher_table').dataTable({
            "sPaginationType": "bootstrap",
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": [
                    "print",
                    {
                        "sExtends":    "collection",
                        "sButtonText": "Save",
                        "aButtons":    [ "csv", "xls", "pdf" ]
                    }
                ]
            }
        } );
    });
</script>

<div class='row'>
  <div class='col-md-12'>
    <h2>Available Teachers
          <span class='pull-right'>
            <%= link_to "Advance Search", search_teacher_path(:id => 0), :class => 'btn btn-primary btn-sm' unless @searchable_teachers.blank? %>
          </span>
      <hr>
    </h2>
  </div>
</div>

<% if @teachers.blank? %>
    <div class="alert alert-danger"> No Teachers Found.</div>
<% else %>
<table id="teacher_table" class='display dataTable table table-condensed table-hover table-bordered'>
  <thead>
  <tr>
    <th>ID #</th>
    <th>Name</th>
    <th>Part-Time</th>
    <th>Program Types</th>
    <th>Zone(s)</th>
    <th>Center(s)</th>
    <%-# <th>Current State</th> %>
    <th width='15%'></th>
  </tr>
  </thead>
  <tbody>
  <% @teachers.each do |teacher| %>
      <% teacher.current_user = current_user %>
      <tr>
        <td><%= teacher.id %></td>
        <td><%= teacher.user.fullname %></td>
        <td><%= teacher.full_time? ? "No" : "Yes" %></td>
        <td>
          <% teacher.role_program_types.each { |role, pts | %>
            <%= ["[#{role}] #{(pts.map{|pt| pt[:name]}).sort.join(", ")}"].join("; ") unless pts.blank? %>
          <% } %>
        </td>
        <td><%= teacher.display_zones rescue '' %></td>
        <% if teacher.full_time? %>
            <td><%= '[All Centers in Zone]' %></td>
        <% else %>
            <td><%= (teacher.centers.map {|c| c[:name]}).join(", ") %></td>
        <% end %>
        <% if false %>
            <td><%= teacher_state_tag(teacher) %></td>
        <% end %>
        <td>
          <%= link_to "Show", teacher_path(teacher), :class => 'btn btn-primary btn-sm' if teacher.can_view? || teacher.is_current_user? %>
          <% if teacher.state == Teacher::STATE_ATTACHED %>
              <%= link_to "Schedule", teacher_teacher_schedules_path(teacher), :class => 'btn btn-primary btn-sm' if teacher.can_view_schedule?  %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>



