<div class='row'>
  <div class='col-md-12'>
    <h2>
      Teachers
      <span class='pull-right'>
      </span>
    </h2>
  </div>
  <table class='table table-condensed table-hover table-bordered'>
    <tr>
      <th>#</th>
      <th>Center</th>
      <th>Name</th>
      <th width='15%'>Active Schedules</th>
      <th width='20%'></th>
    </tr>
    <% @teachers.each do |teacher| %>
    <tr>
      <td><%= teacher.id %></td>
      <td></td>
      <td><%= teacher.fullname %></td>
      <td><%= teacher.teacher_schedules.where('end_date > ?', Time.now).count() %></td>
      <td>
        <%= link_to "Show", teacher_path(teacher), :class => 'btn btn-primary btn-sm' %> 
        <%= link_to "Schedule", teacher_teacher_schedules_path(teacher), :class => 'btn btn-primary btn-sm' %> 
      </td>
    </tr>
    <% end %>
  </table>
</div>