<div class='row'>
  <div class='col-md-12'>
    <h2>
      Available Teachers
      <span class='pull-right'>
        <%= render :partial => 'shared/resource_inline_search' %>
      </span>
    </h2>
  </div>
  <table class='table table-condensed table-hover table-bordered'>
    <tr>
      <th>T No</th>
      <th>Name</th>
      <th>Program Types</th>
      <th>Zone</th>
      <th>Center(s)</th>
      <th>Current State</th>
      <th width='20%'></th>
    </tr>
    <% @teachers.each do |teacher| %>
    <tr>
      <td><%= teacher.t_no %></td>
      <td><%= teacher.user.fullname %></td>
      <td><%= (teacher.program_types.map {|pt| pt[:name]}).join(", ") %></td>
      <td><%= teacher.zone.name rescue '' %></td>
      <td><%= (teacher.centers.map {|c| c[:name]}).join(", ") %></td>
      <td><span class='label label-warning'><%= teacher.state %></span></td>
      <td>
        <%= link_to "Show", teacher_path(teacher), :class => 'btn btn-primary btn-sm' %>
        <%= link_to "Schedule", teacher_teacher_schedules_path(teacher), :class => 'btn btn-primary btn-sm' %> 
      </td>
    </tr>
    <% end %>
  </table>
</div>
