<% if @teacher.can_view? %>
<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'state_bar' %>
  </div>
</div>
<% if @teacher.can_update? %>
    <div class='row'>
      <div class='col-md-12'>
        <h3>Last Update <small><%= @teacher.last_update %></small></h3>
        <div class = 'row'>
          <div class='col-md-12'>
            <table class='table table-bordered'>
              <tr>
                <td width='20%'><strong> Updated By </strong></td>
                <td>
                    <%= @teacher.last_updated_by_user.fullname rescue ' ' %>
                </td>
              </tr>
              <tr>
                <td><strong> Updated At </strong></td>
                <td><%= @teacher.last_updated_at.strftime('%d %B %Y (%I:%M%P)') rescue ' ' %></td>
              </tr>
              <tr>
                <td><strong> Comments </strong></td>
                <td><%= @teacher.comments %></td>
              </tr>
              <tr>
            </table>
          </div>
        </div>
      </div>
    </div>
<% end %>
<div class='row'>
  <h3>Details</h3>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>ID #</strong></td>
        <td><%= @teacher.id %></td>
      </tr>
      <tr>
        <td><strong>T No</strong></td>
        <td><%= @teacher.t_no %></td>
      </tr>
      <tr>
        <td><strong>Part-Time</strong></td>
        <td><%= @teacher.full_time? ? "No" : "Yes" %></td>
      </tr>
      <% @teacher.role_program_types.each {|role, program_types| %>
      <tr>
        <td><strong><%= role %></strong></td>
        <td><%= (program_types.map {|pt| pt[:name]}).sort.join(", ") %></td>
      </tr>
      <% } %>
      <tr>
        <td><strong>Zone(s)</strong></td>
        <td><%= (@teacher.zones.map {|z| z[:name]}).join(", ") rescue '' %></td>
      </tr>
      <tr>
        <td><strong>Center(s)</strong></td>
        <% if @teacher.full_time? %>
            <td><%= '[All Centers in Zone]' %></td>
        <% else %>
            <td><%= (@teacher.centers.map {|c| c[:name]}).join(", ") %></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
<div class='row'>
  <h3>Contact</h3>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>Mobile</strong></td>
        <td><%= @teacher.user.mobile %></td>
      </tr>
      <tr>
        <td width='20%'><strong>Email</strong></td>
        <td><%= @teacher.user.email %></td>
      </tr>
      <tr>
        <td width='20%'><strong>Phone</strong></td>
        <td><%=  @teacher.user.phone %></td>
      </tr>
      <tr>
        <td width='20%'><strong>Address</strong></td>
        <td><%=  @teacher.user.address %></td>
      </tr>
    </table>
  </div>
</div>
<% end %>
