<%= form_for(@kit_schedule) do |f| %>
    <%= resource_error_messages!(@kit_schedule) %>

 
  <div class="form-group">
    <%= f.label :kit_id %>
    <%= f.text_field :kit_id %>
      <br/>
    <%= f.label :Program %>
    <%= f.text_field :assigned_to_program_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
