
<table class='table table-condensed table-hover table-bordered'>
  <tr>
    <th>Kit Name</th>
    <th> State </th>
    <th>Program Name</th>
    <th>Start Date</th>
    <th>End Date </th>
    <th> Show </th>
  </tr>

<% @kit.kit_schedules.each do |ks| %>
  <tr>
    <td><%= ks.kit.name %></td>
    <td><%= kit_schedule_state_tag(ks) %></td>
    <td><%= ks.program.name rescue nil%></td>
    <td><%= ks.start_date.strftime('%d %B %Y') rescue nil%></td>
    <td><%= ks.end_date.strftime('%d %B %Y') rescue nil%></td>
    <% if ks.program_id %>
        <td> <%= link_to "Open", kit_schedule_path(ks), :class => 'btn btn-primary btn-sm' %> </td>
    <% else %>
    <td> <%= link_to "Delete", {:controller => "kit_schedules", :action => 'destroy', :id => ks.id}, :confirm => "Are you sure you want to delete schedule?", :method => :delete, :class => 'btn btn-primary btn-sm' %> </td>
    <% end %>
  </tr>
<% end %>
</table>

