
<table class='table table-condensed table-hover table-bordered'>
  <tr>
    <th>Kit Name</th>
    <th>Program Name</th>
    <th>Start Date</th>
    <th>End Date </th>
    <th> State </th>
  </tr>

<% @kit.kit_schedules.each do |kit_schedule| %>
  <tr>
    <td><%= kit_schedule.kit.kit_name_string %></td>
   <td><%= kit_schedule.program.name rescue nil%></td>
    <td><%= kit_schedule.start_date.strftime('%d/%m/%Y') rescue nil%></td>
    <td><%= kit_schedule.end_date.strftime('%d/%m/%Y') rescue nil%></td>
    <td><%= kit_schedule.state %></td>
  </tr>
<% end %>
</table>

