<h2>
  <% state = @kit_schedule.state %>
  <small><%= state.capitalize %></small>
  <div class='btn-group'>
    <button type="button" class="btn btn-danger">Update State</button>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% if @kit_schedule.can_block? %>
        <li>
          <%= link_to "Block", edit_kit_kit_schedule_path(@kit, @kit_schedule, :trigger => :block) %>
        </li>
      <% end %>
       <% if @kit_schedule.can_assign? %>
        <li>
          <%= link_to "Assign", edit_kit_kit_schedule_path(@kit, @kit_schedule, :trigger => :assigned) %>
        </li>
      <% end %>
      <% if @kit_schedule.can_issue? %>
        <li>
          <%= link_to "Issued", edit_kit_kit_schedule_path(@kit, @kit_schedule, :trigger => :issued) %>
        </li>
      <% end %>
      <% if @kit_schedule.can_returned_and_check? %>
        <li>
          <%= link_to "Returned And Checked", edit_kit_kit_schedule_path(@kit, @kit_schedule, :trigger => :returned_and_checked) %>
        </li>
      <% end %>

      <%if @kit_schedule.can_under_repair?%>
        <li>
          <%= link_to "Under Repair", edit_kit_kit_schedule_path(@kit, @kit_schedule, :trigger => :under_repair) %>
        </li>
      <%end%>

      <%if @kit_schedule.can_incomplete_return?%>
        <li>
          <%= link_to "Incomplete Return", edit_kit_kit_schedule_path(@kit, @kit_schedule, :trigger => :incomplete_return) %>
        </li>
      <%end%>

      <%if @kit_schedule.can_unavailable?%>
        <li>
          <%= link_to "Unavailable", edit_kit_kit_schedule_path(@kit, @kit_schedule, :trigger => :unavailable) %>
        </li>
      <%end%>  
      <li class="divider"></li>
      <li><a href="#">Cancel Schedule</a></li>
    </ul>
  </div>
</h2>