<% if ::KitSchedule::EVENTS_WITH_COMMENTS.include?(@trigger) %>
  <div class='alert alert-warning'>
<% else %>
  <div class='alert alert-info'>
<% end %>
  <h3>Confirmation: </h3>
  <p>
    <% if @trigger == ::KitSchedule::EVENT_RESERVE %>
        Are you sure you want to <strong> Reserve </strong> this kit?
       <% elsif @trigger == ::KitSchedule::EVENT_UNDER_REPAIR %>
        Are you sure you want to mark this kit <strong> Under Repair </strong> ?
       <% elsif @trigger == ::KitSchedule::EVENT_UNAVAILABLE_OVERDUE %>
        Are you sure you want to mark this kit <strong> Overdue </strong> ?
       <% elsif @trigger == ::KitSchedule::EVENT_BLOCK %>
        Are you sure you want to <strong> Block </strong> this kit for program <strong><%= @kit_schedule.program.name%> </strong>for the specified dates?
       <% elsif @trigger == ::KitSchedule::EVENT_ISSUE %>
        Are you sure you want to <strong> Issue </strong> this kit for the program <strong><%= @kit_schedule.program.name%></strong>?
       <% elsif @trigger == ::KitSchedule::EVENT_OVERDUE %>
        Are you sure you want to mark the kit <strong> Overdue </strong> issued earlier for the program <strong><%= @kit_schedule.program.name%></strong>?
       <% elsif @trigger == ::KitSchedule::EVENT_CANCEL %>
        Are you sure you want to <strong> Cancel </strong> the block placed for this kit?
       <% elsif @trigger == ::KitSchedule::EVENT_RETURNED %>
        Are you sure you want to mark the kit <strong> Returned </strong> issued earlier for the program <strong><%= @kit_schedule.program.name%></strong>?
       <% elsif @trigger == ::KitSchedule::EVENT_CLOSE %>
        Are you sure you want to mark the kit <strong> Closed </strong> for the program <strong><%= @kit_schedule.program.name%></strong>?
    <% end %>
  </p>
</div>
