<div class='row'>
  <div class='col-md-12'>
    <h2>
      Kit Schedule <small><%= @kit_schedule.kit.name %> | <%= @kit_schedule.program.name %></small>
    </h2>
  </div>
</div>
<%= form_for([@kit_schedule], :html => {:class => 'form'}) do |f| %>
<%= resource_error_messages!(@kit_schedule) %>

<%= hidden_field_tag 'trigger', @trigger %>

<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'kit_schedules/state_update_confirmation_msg' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'kit_schedules/state_additional_data' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'kit_schedules/state_update_comment' %>
  </div>
</div>
<div class='row'>
 <% if @trigger == ::KitSchedule::EVENT_ISSUE && !@kit_schedule.issue_for_schedules.nil? %>
      <div class='col-md-12'>
        <%= submit_tag "Yes, Issue Kit for Multiple Programs", :class => 'btn btn-danger btn-lg' %>
        <%= link_to "Cancel", kit_schedules_path(@kit_schedule), :class => 'btn btn-primary btn-lg' %>
      </div>
 <% else %>
      <div class='col-md-12'>
        <%= submit_tag "Update", :class => 'btn btn-primary btn-lg' %>
      </div>
 <% end %>
</div>
<% end %>