<div class='row'>
  <div class='col-md-12'>
    <h2>
      Kit Schedule <small><%= @kit_schedule.kit.kit_name_string %> | <%= @kit_schedule.program.name %></small>
    </h2>
  </div>
</div>
<%= form_for([@kit, @kit_schedule], :html => {:class => 'form'}) do |f| %>
<%= hidden_field_tag 'trigger', @trigger %>

<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'kit_schedules/state_update_confirmation_msg' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'kit_schedules/state_update_comment' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <%= submit_tag "Update", :class => 'btn btn-primary btn-lg' %>
  </div>
</div>
<% end %>