<div class='row'>
  <div class='col-md-12'>
    <h2>
      Kit Schedules
      <small><%= @kit.name %></small>
      <%= hidden_field_tag 'trigger', @trigger %>
      <span class='pull-right'>
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
            New Schedule <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li><%= link_to "Block", new_kit_schedule_path(:kit_id => @kit.id) %></li>
            <%# TODO - Reserve kit is only for sector coordinator - put the relevant check %>
            <li><%= link_to "Reserve", reserve_kit_schedule_path(@kit, :trigger => ::KitSchedule::EVENT_RESERVE) %></li>
            <li class="divider"></li>
            <li><%= link_to "Overdue", reserve_kit_schedule_path(@kit, :trigger => ::KitSchedule::EVENT_UNAVAILABLE_OVERDUE) %></li>
            <li><%= link_to "Under Repair", reserve_kit_schedule_path(@kit, :trigger => ::KitSchedule::EVENT_UNDER_REPAIR) %></li>
          </ul>
        </div>
      </span>
    </h2>
  </div>
  <%=render 'index'%>
</div>

<%# if @kit_id.nil? %>
  <%#= link_to 'New Kit schedule', new_kit_schedule_path %>
<%# else %>
  <%#= link_to 'New Kit schedule', new_kit_schedule_path(:kit_id => @kit_id) %>
<%#  end %>
