<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'state_bar' %>
  </div>
  <div class='row'>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>Name</strong></td>
        <td><%= @kit_schedule.kit.name %></td>
      </tr>
      <tr>
        <td><strong>Center</strong></td>
        <td><%= @kit_schedule.kit.center.name rescue '' %></td>
      </tr>
      <tr>
        <td><strong>Max Participants</strong></td>
        <td>
          <address>
            <%= @kit_schedule.kit.capacity %>
          </address>
        </td>
      </tr>
      <tr>
        <td><strong>Booking Start Date</strong></td>
        <td><%= @kit_schedule.start_date.strftime('%d %B %Y') %></td>
      </tr>
      <tr>
        <td><strong>Booking End Date</strong></td>
        <td><%= @kit_schedule.end_date.strftime('%d %B %Y') %></td>
      </tr>
      <tr>
        <td><strong>Timing (s)</strong></td>
        <td><%= (@kit_schedule.program.timings.map {|c| c[:name]}).join(", ") if @kit_schedule.program %></td>
      </tr>
      <tr>
        <td><strong>Comments</strong></td>
        <td><%= @kit_schedule.comments %></td>
      </tr>
      <% if !@kit_schedule.issued_to_user_id.nil?%>
      <tr>
        <td><strong>Kit Issued to</strong></td>
        <td><%= @kit_schedule.issued_to_user.email %></td>
      </tr>
      <%end%>

      <% if !@kit_schedule.blocked_by_user_id.nil? %>
      <tr>
        <td><strong>Kit Blocked by</strong></td>
        <td><%= @kit_schedule.blocked_by_user.email %></td>
      </tr>
      <%end%>
    </table>
  </div>
</div>