<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'state_bar' %>
  </div>
  <div class='row'>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>Name</strong></td>
        <td><%= @kit.kit_name_string %></td>
      </tr>
      <tr>
        <td><strong>Center</strong></td>
        <td><%= @kit.center.name rescue '' %></td>
      </tr>
      <tr>
        <td><strong>Max Participants</strong></td>
        <td>
          <address>
            <%= @kit.max_participant_number %>
          </address>
        </td>
      </tr>
      <tr>
        <td><strong>Booking Start Date</strong></td>
        <td><%= @kit_schedule.start_date %></td>
      </tr>
      <tr>
        <td><strong>Booking End Date</strong></td>
        <td><%= @kit_schedule.end_date %></td>
      </tr>
    </table>
    <%= link_to "Schedules", kit_kit_schedules_path(@kit), :class => 'btn btn-primary btn-sm' %> 
  </div>
</div>