<%= form_for(@program_teacher_schedule, :html => { :class => 'form' }) do |f| %>
  <%= resource_error_messages!(@program_teacher_schedule) %>
  <% submit_disabled = false %>

  <% if @program_teacher_schedule.program_id %>
      <div class='form-group'>
        <label for='program_id'>Program ID</label>
        <% program = Program.find(params[:program_id]) if params[:program_id]  %>
        <%= f.text_field :program_display_name, :value=> "#{program.pid if program} - #{program.name if program}", :readonly => true, :id => 'program_id_field', :class => 'form-control' %>
        <%= f.hidden_field :program_id, :value=> params[:program_id], :id => :program_id_hidden, :class => 'form-control' %>
      </div>
      <div class='form-group'>
        <label for='teacher_role'>Role</label>
        <%= f.select :teacher_role, options_for_select(@teacher_roles, [@selected_teacher_role]), {}, :id => 'teacher_role_select_1', :class => 'form-control' %>
      </div>
      <div class='form-group'>
        <label for='teacher_id'>Teacher</label>
        <% blockable_teachers =  @blockable_teachers.map {|e| e[:teacher]} %>
        <%= f.hidden_field :blockable_timing_ids, :value=> @blockable_timing_ids, :id => :blockable_timing_ids_hidden, :class => 'form-control' %>
        <% unless blockable_teachers.blank? %>
            <%= f.select :teacher_id, options_for_select(blockable_teachers.map {|t| [t.user.fullname, t.id] }), {}, :id => 'teachers_select', :class => 'form-control' %>
        <% else %>
            <% submit_disabled = true %>
            <%= f.select :teacher_id, options_for_select(['None Available']), {:disabled => true}, :id => 'teachers_select', :class => 'form-control' %>
        <% end %>
      </div>
      <div class='form-group'>
        <label for='timings'>Timing(s)</label><small> for which Teacher is Available. This may be different from Program Timing(s).</small>
        <% timings =  @selected_timings %>
        <% unless timings.blank?  %>
            <%= f.select :timing_ids, options_for_select(timings.map {|e| [e.name, e.id]}), {}, :multiple => true, :id => 'timing_ids_select', :class => 'form-control' %>
        <% else %>
            <%= f.select :timing_ids, options_for_select(['None Available']), {:disabled => true}, :id => 'timing_ids_select', :class => 'form-control' %>
        <% end %>
        <small><i>NOTE: </i>Program Timing(s) are <%= @program_teacher_schedule.program.display_timings %>.</small>
      </div>
      <div class='form-group'>
        <label for='additional_comments'>Note for Scheduler</label>
        <%= f.text_field :additional_comments, :value=> @additional_comments, :readonly => true, :id => 'additional_comments', :class => 'form-control' %>
      </div>
    <% elsif @program_teacher_schedule.teacher %>
        <%#= hidden_field_tag 'teacher_id', @program_teacher_schedule.teacher_id %>
        <div class='form-group'>
          <label for='teacher_id'>Teacher ID</label>
          <%= f.text_field :teacher_id, :value=> @program_teacher_schedule.teacher_id, :readonly => true, :id => 'teacher_id_field', :class => 'form-control' %>
        </div>
          <div class='form-group'>
            <label for='teacher_role'>Role</label>
            <%= f.select :teacher_role, options_for_select(@teacher_roles, [@selected_teacher_role]), {}, :id => 'teacher_role_select_2', :class => 'form-control' %>
          </div>
          <div class='form-group'>
          <label for='program_id'>Program</label>
          <% blockable = @blockable_programs %>
          <% if blockable.count > 0 %>
              <%= f.select :program_id, options_for_select(blockable.map {|e| [e.friendly_name, e.id] }), {}, :id => 'programs_select', :class => 'form-control' %>
          <% else %>
              <% submit_disabled = true %>
              <%= f.select :program_id, options_for_select(['None Available']), {:disabled => true}, :id => 'programs_select', :class => 'form-control' %>
          <% end %>
        </div>
    <% end %>

  <%= f.submit 'Associate Teacher with Program', :disabled => submit_disabled, :id => 'submit_button', :class => 'btn btn-lg btn-primary' %>
<% end %>


<script type='text/javascript'>
$('.dateSelect').datepicker({dateFormat: 'd MM yy (DD)'});
</script>

<script>
    $(document).ready(function() {
        $('#teacher_role_select_1').change(function() {
            $.ajax({
                url: "<%= update_program_teacher_schedule_blockable_teachers_path %>",
                data: {
                    teacher_role_val : $('#teacher_role_select_1').val(),
                    program_id : $('#program_id_hidden').val()
                },
                dataType: "script"
            });
        });
        $('#teacher_role_select_2').change(function() {
            $.ajax({
                url: "<%= update_program_teacher_schedule_blockable_programs_path %>",
                data: {
                    teacher_role_val : $('#teacher_role_select_2').val(),
                    teacher_id : $('#teacher_id_field').val()
                },
                dataType: "script"
            });
        });
        $('#teachers_select').change(function() {
            $.ajax({
                url: "<%= update_program_teacher_schedule_additional_comments_path %>",
                data: {
                    teacher_id : $('#teachers_select').val(),
                    blockable_timing_ids : $('#blockable_timing_ids_hidden').val()
                },
                dataType: "script"
            });
        });

    });
</script>