<%= form_for(@program_teacher_schedule, :html => { :class => 'form' }) do |f| %>
  <%= resource_error_messages!(@program_teacher_schedule) %>
  <% submit_disabled = false %>

  <% if @program_teacher_schedule.program_id %>
      <div class='form-group'>
        <label for='program_id'>Program ID</label>
        <%= f.text_field :program_id, :value=> params[:program_id], :readonly => true, :class => 'form-control' %>
      </div>
      <div class='form-group'>
        <label for='teacher_id'>Teacher</label>
        <% blockable = @program_teacher_schedule.blockable_teachers %>
        <% if blockable.count > 0 %>
            <%= f.select :teacher_id, options_for_select(blockable.map {|t| [t.user.fullname, t.id] }), {}, :class => 'form-control' %>
        <% else %>
            <% submit_disabled = true %>
            <%= f.select :teacher_id, options_for_select(['None Available']), {:disabled => true}, :class => 'form-control' %>
        <% end %>
      </div>
   <% elsif @program_teacher_schedule.teacher %>
        <%#= hidden_field_tag 'teacher_id', @program_teacher_schedule.teacher_id %>
        <div class='form-group'>
          <label for='teacher_id'>Teacher ID</label>
          <%= f.text_field :teacher_id, :value=> @program_teacher_schedule.teacher_id, :readonly => true, :class => 'form-control' %>
          <label for='program_id'>Program</label>
          <% blockable = @program_teacher_schedule.blockable_programs %>
          <% if blockable.count > 0 %>
              <%= f.select :program_id, options_for_select(blockable.map {|e| [e.friendly_name, e.id] }), {}, :class => 'form-control' %>
          <% else %>
              <% submit_disabled = true %>
              <%= f.select :program_id, options_for_select(['None Available']), {:disabled => true}, :class => 'form-control' %>
          <% end %>
        </div>
    <% end %>

  <%= f.submit 'Associated Teacher with Program', :disabled => submit_disabled, :class => 'btn btn-lg btn-primary' %>
<% end %>


<script type='text/javascript'>
$('.dateSelect').datepicker({dateFormat: 'd MM yy (DD)'});
</script>