<%= form_for(@program_teacher_schedule, :html => { :class => 'form' }) do |f| %>
  <%= resource_error_messages!(@program_teacher_schedule) %>
  
  <div class='form-group'>
    <label for='program_id'>Program ID</label>
    <%= f.text_field :program_id, :value=> params[:program_id], :readonly => true, :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <label for='teacher_id'>Teacher</label>
    <%= f.select :teacher_id, options_for_select(@teachers.map {|t| [t.user.fullname, t.id] }), {}, :class => 'form-control' %>
  </div>

  <%= f.submit 'Associated Teacher with Program', :class => 'btn btn-lg btn-primary' %>
<% end %>

<script type='text/javascript'>
$('.dateSelect').datepicker({dateFormat: 'd MM yy (DD)'});
</script>