<h2>
  <% @program_teacher_schedule = pts %>
  <small><%= program_teacher_schedule_state_tag(@program_teacher_schedule) %></small>
  Program-Teacher Schedule
  <small><%= @program_teacher_schedule.program.name %> | <%= @program_teacher_schedule.teacher.user.fullname %> </small>

  <% unless ::ProgramTeacherSchedule::FINAL_STATES.include?(@program_teacher_schedule.state) %>
      <div class='btn-group'>
        <button type="button" class="btn btn-danger">Update State</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% events = (@program_teacher_schedule.state_events - ::Program::NOTIFICATIONS) %>
          <% if events.count > 0 %>
              <% events.each do |ev| %>
                  <li> <%= link_to ev, edit_program_teacher_schedule_path(:id => id, :trigger => ev) %> </li>
              <% end %>
          <% else %>
              <li class="disabled"><a href="#">No Action Available</a></li>
          <% end %>
         </ul>
      </div>
  <% end %>

<span class='pull-right'>
    <%= link_to "Back to Schedules", teacher_teacher_schedules_path(@program_teacher_schedule.teacher), :class => 'btn btn-primary' %>
</span>
</h2>
