<div class='row'>
  <div class='col-md-12'>
    <h2>
      Program-Teacher Schedule <small><%= @program_teacher_schedule.program.name %></small>
    </h2>
  </div>
</div>
<%= form_for(@program_teacher_schedule, :html => {:class => 'form'}) do |f| %>
<%= resource_error_messages!(@program_teacher_schedule) %>
<%= hidden_field_tag 'trigger', @trigger %>
<%= hidden_field_tag 'id', @program_teacher_schedule.teacher_schedule_id %>

<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'program_teacher_schedules/state_update_confirmation_msg' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'program_teacher_schedules/state_additional_data' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'program_teacher_schedules/state_update_comment' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <%= submit_tag "Update", :class => 'btn btn-primary btn-lg' %>
    <%= link_to "Cancel", :back, :class => 'btn btn-primary btn-lg :hover' %>
  </div>
</div>
<% end %>

