<div class='row'>
  <div class='col-md-12'>
    <h2>
      Program-Teacher Schedule Detail <br/>
      <small><%= @program_teacher_schedule.program.name %></small>
      <small><span class='label label-info'><%= @program_teacher_schedule.teacher_schedule.state.to_s.capitalize %></span></small>
      <small><%= render :partial => 'program_teacher_schedules/state_bar', locals: {pts: @program_teacher_schedule, id: @program_teacher_schedule.teacher_schedule.id } %></small>
    </h2>
  </div>
</div>
<div class='row'>
  <h3>Program Details</h3>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>Internal Id</strong></td>
        <td><%= @program_teacher_schedule.program.id %></td>
      </tr>
      <tr>
        <td><strong>Announced Program Id</strong></td>
        <td><%= @program_teacher_schedule.program.announce_program_id %></td>
      </tr>
      <tr>
        <td width='20%'><strong>Center</strong></td>
        <td><%= @program_teacher_schedule.program.center.name %></td>
      </tr>
      <tr>
        <td><strong>Proposed By</strong></td>
        <td><%= @program_teacher_schedule.program.proposer.fullname %></td>
      </tr>
      <tr>
        <td><strong>Start Date</strong></td>
        <td><%= @program_teacher_schedule.program.start_date %></td>
      </tr>
      <tr>
        <td><strong>End Date</strong></td>
        <td><%= @program_teacher_schedule.program.end_date %></td>
      </tr>
      <tr>
        <td><strong>Timing</strong></td>
        <td><%= (@program_teacher_schedule.program.timings.map {|c| c[:name]}).join(", ") %></td>
      </tr>
    </table>
  </div>
</div>
<div class='row'>
  <h3>Teacher Details</h3>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>T No</strong></td>
        <td><%= @program_teacher_schedule.teacher.t_no %></td>
      </tr>
      <tr>
        <td><strong>Name</strong></td>
        <td><%= @program_teacher_schedule.teacher.user.fullname %></td>
      </tr>
    </table>
  </div>
</div>




