<%= form_for([@venue, @venue_schedule], :html => { :class => 'form' }) do |f| %>
  <%= resource_error_messages!(@venue_schedule) %>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, :class => 'form-control dateSelect' %>
    <br/>
    <%= f.label :end_date %>
    <%= f.text_field :end_date, :class => 'form-control dateSelect' %>
  </div>

  <div class='form-group'>
    <%= f.label :slot %>
    <%= f.select :slot, options_for_select(::Ontology::Venue::SLOT_ALL), {}, {:class => 'form-control'} %>
  </div>
  
  <%= f.submit 'Reserve Venue', :class => 'btn btn-lg btn-primary' %>
<% end %>

<script type='text/javascript'>
$('.dateSelect').datepicker({dateFormat: 'yy-mm-dd'});
</script>