<div class='row'>
  <div class='col-md-12'>
    <%= render :partial => 'venue_schedules/state_bar' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <table class='table table-bordered'>
      <tr>
        <td width='20%'><strong>Name</strong></td>
        <td><%= @venue_schedule.venue.name %></td>
      </tr>
      <tr>
        <td><strong>Center</strong></td>
        <td><%= @venue_schedule.program.center.name %></td>
      </tr>
      <tr>
        <td><strong>Address</strong></td>
        <td>
          <address>
            <%= @venue_schedule.address rescue '' %>
          </address>
        </td>
      </tr>
      <tr>
        <td><strong>Booking Start Date</strong></td>
        <td><%= @venue_schedule.program.start_date.strftime('%d %B %Y') %></td>
      </tr>
      <tr>
        <td><strong>Booking End Date</strong></td>
        <td><%= @venue_schedule.program.end_date.strftime('%d %B %Y') %></td>
      </tr>
      <tr>
        <td><strong>Timing (s)</strong></td>
        <td><%= (@venue_schedule.program.timings.map {|c| c[:name]}).join(", ") %></td>
      </tr>
    </table>
  </div>
</div>