<script type="text/javascript">
    $(document).ready(function() {
        $('#change_suggestion_table').dataTable({
            "sPaginationType": "bootstrap",
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": [
                    "print",
                    {
                        "sExtends":    "collection",
                        "sButtonText": "Save",
                        "aButtons":    [ "csv", "xls", "pdf" ]
                    }
                ]
            }
        } );
    });
</script>

<div class='row'>
  <div class='col-md-12'>
    <h2>Change Suggestions for PCC Communication Request <%=params[:id]%>
      <span class='pull-right'>
            <%= link_to "Suggest New Change", new_change_suggestion_path(:id=>params[:id]), :class => 'btn btn-success btn-sm' %>
          </span>
      <hr>
    </h2>
  </div>
</div>
<% if @change_suggestions.empty? %>
    <div class="alert alert-danger"> No Communication Requests Found.</div>
<% else %>
  <tr>
    <th>Description</th>
    <th>Priority</th>
    <th>Done</th>
    <th>Pcc communication request</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @change_suggestions.each do |change_suggestion| %>
      <%if change_suggestion.done!=true%>
  <tr>

    <td><%= change_suggestion.description %></td>
    <td><%= change_suggestion.priority %></td>
    <td><%= change_suggestion.done %></td>
    <td><%= change_suggestion.pcc_communication_request_id %></td>
    <td><%= link_to 'Show', change_suggestion %></td>
    <td><%= link_to 'Edit', edit_change_suggestion_path(change_suggestion) %></td>
    <td><%= link_to 'Destroy', change_suggestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
          <%end %>
<% end %>
</table>

<br />

<%= link_to 'New Change suggestion', new_change_suggestion_path %>
<%end%>