<% center_ids = current_user.accessible_center_ids %>
<% in_geography = (current_user.is? :any, :in_group => [:geography]) %>
<% in_training = (current_user.is? :any, :in_group => [:training]) %>
<% in_finance = (current_user.is? :any, :in_group => [:finance]) %>
<% in_pcc = (current_user.is? :any, :in_group => [:pcc]) %>
<ul class="nav navbar-nav">
  <% if (current_user.is? :super_admin) or center_ids.count > 0 %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedules <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% if in_geography or in_pcc %>
            <li><a href="<%= programs_path %>">Program</a></li>
          <% end %>
          <% if in_geography or in_training or in_pcc %>
            <li><a href="<%= teachers_path %>">Teacher</a></li>
          <% end %>
          <% if in_geography %>
            <li><a href="<%= kits_path %>">Kit</a></li>
          <% end %>
          <% if in_geography or in_finance %>
            <li><a href="<%= venues_path %>">Venue</a></li>
          <% end %>
        </ul>
      </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logs <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="<%= activity_logs_path %>"> Activity </a></li>
      <li><a href="<%= notification_logs_path %>">Notification </a></li>
    </ul>
  </li>  <!-- TODO: disabling the equiries interface for now, will be put in later if needed after cleanup -->
  <% end %>
  <!-- TODO: Enforce role -->
  <% if current_user.is? :super_admin or not current_user.access_privileges.empty?   %>
      <li><a href="<%= rails_admin_path %>"> Admin Panel </a></li>
  <% end %>
</ul>
