<% centers = current_user.accessible_center_ids %>
<ul class="nav navbar-nav">
  <% if centers.count > 0 %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedules <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="<%= programs_path %>">Program</a></li>
          <li><a href="<%= teachers_path %>">Teacher</a></li>
          <li><a href="<%= venues_path %>">Venue</a></li>
          <li><a href="<%= kits_path %>">Kit</a></li>
        </ul>
      </li>
  <% end %>
  <!-- TODO: Enforce role -->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="<%= rails_admin_path %>"> Dashboard </a></li>
      <% if false %>
      <li><a href="<%= enquiries_path %>">Enquiries </a></li>
      <% end %>
    </ul>
  </li>
  <!-- TODO: disabling the equiries interface for now, will be put in later if needed after cleanup -->
  <% if false %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#"> FAQ </a></li>
      <li><a href="<%= new_enquiry_path %>">Submit Enquiry</a></li>
    </ul>
  </li>
  <% end %>
</ul>
