<% center_ids = current_user.accessible_center_ids %>
<% in_geography = (current_user.is? :any, :in_group => [:geography]) %>
<% in_training = (current_user.is? :any, :in_group => [:training]) %>
<% in_finance = (current_user.is? :any, :in_group => [:finance]) %>
<% in_pcc_vendor = (current_user.is? :any, :in_group => [:pcc_vendor]) %>
<% in_pcc_requests = (current_user.is? :any, :in_group => [:pcc_requests]) %>

<ul class="nav navbar-nav">
  <% if (current_user.is? :super_admin) or center_ids.count > 0 %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Schedules <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% if in_geography %>
              <li><a href="<%= programs_path %>">Program</a></li>
          <% end %>
          <% if in_geography or in_training %>
              <li><a href="<%= teachers_path %>">Teacher</a></li>
          <% end %>
          <% if in_geography %>
              <li><a href="<%= kits_path %>">Kit</a></li>
          <% end %>
          <% if in_geography or in_finance %>
              <li><a href="<%= venues_path %>">Venue</a></li>
          <% end %>
        </ul>
      </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-hover="dropdown">Logs <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%= activity_logs_path %>"> Activity </a></li>
              <li><a href="<%= notification_logs_path %>">Notification </a></li>
            </ul>
          </li>
      <!-- TODO: Enforce role -->
  <% if current_user.is? :super_admin or not current_user.access_privileges.empty?   %>
      <li><a href="<%= rails_admin_path %>"> Admin Panel </a></li>
  <% end %>
  <% end %>

  <% if in_pcc_requests or in_pcc_vendor %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-hover="dropdown">PCC Requests <b class="caret"></b></a>
        <ul class="dropdown-menu">

          <li><a href="<%= pcc_travel_requests_path %>">Travel Requests </a></li>
          <%if in_pcc_requests %>
              <li><a href="<%= pcc_break_requests_path %>">Break Requests </a></li>
          <%end%>
        </ul>
      </li>
  <%end%>

</ul>
